@model IEnumerable<Models.productos>

@{
    ViewData["Title"] = "Home Page";
}

<h1>Productos</h1>


<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.tiposProductoID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.precio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.existencias)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.tiposProducto.nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.precio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.existencias)
            </td>
            <td>
                @*@Html.ActionLink("Editar", "EditTerminationReason", new { id=item.terminationReasonID }) |
                @Html.ActionLink("Borrar", "DeleteTerminationReason", new {  id=item.terminationReasonID})*@
            </td>
        </tr>
    }
    </tbody>
</table>